<div class="fromtop">
    <svg
        width="910"
        height="334"
        viewBox="0 0 910 334"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
    >
        <g clip-path="url(#clip0_65_216)" class="flex flex-col justify-center items-center">
            <g filter="url(#filter0_d_65_216)">
                <g class="l-wing">
                    <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M12.0926 65.9382C10.7178 64.2806 7.74791 60.7169 6.14833 60.1123C6.5176 66.2168 22.648 81.9152 28.0476 86.5883C30.3827 88.6429 32.5407 90.8972 34.2416 92.3213L53.9506 107.577C90.2978 135.88 134.788 158.971 173.442 185.808C184.623 193.574 204.364 209.102 210.535 219.795C211.508 221.643 213.534 226.594 214.446 227.748C215.123 226.107 214.756 219.258 214.219 217.08C213.372 213.627 211.762 211.27 210.229 208.857C200.034 192.844 170.553 172.98 142.022 156.007C104.959 133.966 61.7377 112.924 29.8805 83.9179C25.8318 80.2436 15.9723 70.6271 12.0926 65.9382Z"
                        fill="#F5F5F5"></path>
                    <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M206.572 170.533C207.047 169.304 205.346 164.294 204.948 161.631C204.271 156.887 199.271 151.272 195.688 148.532C193.387 146.775 191.209 145.242 189.431 143.951C178.522 136.015 160.29 127.256 147.562 121.522C108.497 103.057 38.7843 75.4599 11.4752 42.7471C8.52922 39.2148 4.38934 32.3734 3.2336 31.094C2.70653 30.5339 2.13835 30.0132 1.53369 29.536C1.71387 33.0927 2.93855 34.8221 4.63197 37.7068C10.9876 48.525 26.6909 62.3365 46.2409 75.2426C87.8585 102.733 147.251 130.088 173.412 143.548C183.581 149.26 197.354 158.103 204.086 167.667C205.013 168.996 205.965 170.264 206.572 170.533Z"
                        fill="#F5F5F5"></path>
                    <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M212.213 196.745C213.245 194.387 210.148 186.192 208.721 183.556C203.457 173.809 189.091 164.8 181.293 159.232C177.404 156.51 173.367 154.002 169.2 151.719C134.89 132.549 99.7623 115.233 65.3217 95.7273C52.9121 88.6974 32.0706 74.9883 21.9152 64.5986C13.9876 56.4863 3.88545 44.289 2.94815 43.526C1.7295 46.9374 19.0416 65.8539 22.4971 69.2203C40.4555 86.7334 73.7118 106.276 95.5961 118.572C123.595 134.302 151.125 150.455 178.619 167.063C186.634 172.453 200.035 183.144 207.306 191.284C208.576 192.704 210.855 196.442 212.213 196.745Z"
                        fill="#F5F5F5"></path>
                    <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M197.25 141.262C197.612 140.578 197.532 139.665 197.401 138.935C196.684 135.233 192.979 129.977 190.716 127.778C169.776 107.393 90.542 83.3183 58.0461 65.27C44.8762 57.9552 20.9979 44.8925 11.2466 33.0827C9.76225 31.2842 8.34634 29.446 6.77149 27.4336C4.27407 24.2469 3.7947 22.1972 1.7749 21.3783C2.15398 22.9097 3.9148 26.5164 5.62744 29.7173C12.8798 43.2977 26.2636 51.3676 38.7329 59.9485C86.8893 93.1548 146.267 103.484 197.25 141.262Z"
                        fill="#F5F5F5"></path>
                    <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M21.8367 89.2233C19.9852 87.3816 17.7824 84.374 15.3687 83.8824C15.7982 87.1497 18.7635 89.6469 20.5079 91.3267C26.6769 97.2585 27.6031 99.1017 35.3738 106.048L57.4476 124.762C69.8256 135.052 84.2252 144.783 97.8133 153.642C125.601 172.743 152.355 190.703 178.901 211.464C185.415 216.562 198.573 228.614 202.686 234.37C207.759 241.456 211.656 246.671 214.862 254.577C215.574 256.339 215.256 255.99 216.04 256.929L215.567 245.257C214.428 234.506 198.71 219.356 184.013 207.536C171.158 197.199 152.874 184.04 138.936 175.324C129.913 169.675 104.276 151.583 97.0004 147.731L66.2788 126.779C49.9939 114.047 37.0272 103.548 21.8367 89.2233Z"
                        fill="#F5F5F5"></path>
                    <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M41.6948 121.48C39.4068 119.48 32.2448 112.003 29.6333 111.04C31.4281 122.859 135.064 199.804 153.111 213.729C159.356 218.433 165.323 223.486 170.984 228.865C182.166 239.345 197.436 253.517 205.201 265.961C209.883 273.436 211.981 286.313 214.601 290.125C215.728 288.516 216.466 280.381 215.951 277.875C215.382 275.092 213.818 271.138 212.033 267.253C206.781 255.812 203.219 251.898 194.746 242.683C179.154 225.737 151.922 204.438 132.197 191.028L98.8866 166.91C79.1438 152.67 60.1391 137.399 41.6948 121.48Z"
                        fill="#F5F5F5"></path>
                    <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M188.341 117.448C187.048 109.286 179.447 102.011 171.671 98.2867C133.159 79.7315 92.5111 69.554 53.0921 51.3499C34.0742 42.5933 18.814 35.9717 5.93744 19.4992C5.68652 19.2151 5.40478 18.9592 5.09732 18.736C5.03174 18.8521 4.99941 18.9837 5.00383 19.1165C5.15666 22.6506 8.97047 27.6004 11.3347 29.845C18.6232 36.7372 23.3939 39.9217 31.8555 45.2011C60.9769 63.369 96.7934 75.8015 128.675 89.189C144.253 95.0589 166.764 103.058 180.52 111.811C184.943 114.646 186.685 117.124 188.341 117.448Z"
                        fill="#F5F5F5"></path>
                    <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M64.8772 156.628C60.1929 152.935 62.0832 152.949 59.0435 152.064C59.4275 155.344 61.5119 157.287 63.469 158.789C68.9058 162.969 74.3049 167.588 79.7169 171.871C84.9204 175.992 90.1236 180.302 95.305 184.655C106.353 193.942 117.337 203.561 128.392 212.454C162.797 239.078 198.724 275.299 210.576 317.723C214.482 315.674 212.886 304.134 211.304 300.344C206.193 288.116 199.467 277.305 191.671 267.315C173.241 243.648 150.199 223.957 126.632 205.517C120.194 200.483 112.577 194.615 109.17 191.755L64.8772 156.628Z"
                        fill="#F5F5F5"></path>
                </g>
                <g class="r-wing">
                    <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M446.991 63.8659C448.366 62.2083 451.336 58.6445 452.935 58.0399C452.566 64.1445 436.436 79.8429 431.035 84.5325C428.688 86.5694 426.543 88.8249 424.842 90.2406L405.134 105.496C368.794 133.809 324.294 156.898 285.641 183.748C274.46 191.513 254.719 207.042 248.547 217.735C247.574 219.582 245.548 224.533 244.635 225.688C243.959 224.047 244.327 217.198 244.863 215.019C245.71 211.568 247.319 209.21 248.853 206.797C259.052 190.743 288.531 170.9 317.063 153.927C354.125 131.894 397.346 110.851 429.202 81.8455C433.239 78.1702 443.111 68.5547 446.991 63.8659Z"
                        fill="#F5F5F5"></path>
                    <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M252.525 168.462C252.049 167.233 253.751 162.223 254.148 159.56C254.825 154.816 259.826 149.201 263.408 146.461C265.709 144.703 267.888 143.171 269.666 141.88C280.574 133.944 298.806 125.185 311.534 119.45C350.587 100.985 420.291 73.3868 447.608 40.6747C450.555 37.1425 454.695 30.3011 455.85 29.0216C456.368 28.4613 456.925 27.9397 457.52 27.461C457.383 31.0214 456.145 32.7497 454.443 35.6336C448.088 46.4519 432.384 60.2634 412.834 73.1694C371.212 100.66 311.816 128.014 285.659 141.475C275.49 147.187 261.717 156.03 254.985 165.594C254.058 166.922 253.102 168.19 252.525 168.462Z"
                        fill="#F5F5F5"></path>
                    <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M246.871 194.672C245.839 192.315 248.935 184.119 250.362 181.483C255.626 171.737 269.993 162.727 277.79 157.16C281.679 154.438 285.716 151.93 289.883 149.646C324.194 130.477 359.321 113.16 393.762 93.6549C406.175 86.6254 427.017 72.9162 437.168 62.5262C445.095 54.4139 455.198 42.2167 456.135 41.4536C457.354 44.8651 440.042 63.7816 436.587 67.148C418.628 84.661 385.372 104.203 363.487 116.499C335.487 132.23 307.959 148.383 280.465 164.991C272.45 170.38 259.049 181.072 251.778 189.211C250.508 190.632 248.229 194.369 246.871 194.672Z"
                        fill="#F5F5F5"></path>
                    <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M261.804 139.187C261.441 138.503 261.521 137.59 261.653 136.86C262.369 133.158 266.075 127.902 268.338 125.703C289.311 105.321 368.528 81.2447 401.037 63.1975C414.228 55.8846 438.085 42.8201 447.836 31.0103C449.325 29.2121 450.74 27.374 452.312 25.3612C454.809 22.1745 455.305 20.1263 457.309 19.3059C456.929 20.8372 455.168 24.444 453.456 27.645C446.224 41.2355 432.794 49.293 420.35 57.8761C372.193 91.0824 312.82 101.412 261.804 139.187Z"
                        fill="#F5F5F5"></path>
                    <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M437.259 87.152C439.11 85.3102 441.313 82.3026 443.726 81.811C443.297 85.0783 440.332 87.5756 438.586 89.2552C432.422 95.1875 431.496 97.0307 423.721 103.977L401.609 122.699C389.234 132.991 374.831 142.721 361.243 151.58C333.455 170.68 306.702 188.641 280.155 209.402C273.641 214.5 260.483 226.551 256.37 232.308C251.296 239.394 247.4 244.608 244.195 252.515C243.482 254.276 243.8 253.928 243.016 254.867L243.488 243.195C244.627 232.444 260.351 217.295 275.043 205.474C287.898 195.137 306.182 181.977 320.12 173.262C329.147 167.613 354.779 149.52 362.056 145.669L392.777 124.717C409.089 111.975 422.059 101.476 437.259 87.152Z"
                        fill="#F5F5F5"></path>
                    <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M417.363 119.405C419.65 117.417 426.825 109.93 429.438 108.966C427.642 120.786 324.007 197.723 305.96 211.656C299.726 216.362 293.77 221.416 288.12 226.795C276.937 237.296 261.667 251.466 253.881 263.908C249.199 271.384 247.101 284.261 244.481 288.073C243.354 286.464 242.616 278.33 243.131 275.824C243.7 273.041 245.263 269.086 247.048 265.202C252.313 253.76 255.876 249.847 264.346 240.644C279.94 223.694 307.159 202.394 326.875 188.984L360.186 164.866C379.939 150.597 398.948 135.326 417.363 119.405Z"
                        fill="#F5F5F5"></path>
                    <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M270.743 115.375C272.036 107.214 279.653 99.9404 287.413 96.206C325.925 77.6591 366.543 67.4789 405.992 49.2692C425.015 40.5129 440.27 33.891 453.151 17.4188C453.403 17.1379 453.684 16.8848 453.99 16.6639C454.06 16.7787 454.092 16.9113 454.084 17.0445C453.94 20.5793 450.122 25.5287 447.752 27.7854C440.463 34.6776 435.693 37.8621 427.231 43.1415C398.109 61.3093 362.294 73.7418 330.412 87.1293C314.833 92.9993 292.323 100.999 278.567 109.751C274.14 112.573 272.415 115.053 270.743 115.375Z"
                        fill="#F5F5F5"></path>
                    <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M394.206 154.556C398.891 150.862 397 150.876 400.04 149.992C399.656 153.272 397.572 155.215 395.615 156.717C390.178 160.897 384.783 165.516 379.367 169.798C374.154 173.923 368.961 178.222 363.778 182.587C352.742 191.888 341.747 201.493 330.691 210.386C296.288 237.005 260.359 273.226 248.529 315.652C244.622 313.604 246.219 302.063 247.802 298.273C252.933 286.047 259.651 275.235 267.431 265.244C285.859 241.577 308.902 221.886 332.469 203.446C338.906 198.412 346.523 192.544 349.931 189.684L394.206 154.556Z"
                        fill="#F5F5F5"></path>
                </g>
            </g>
            <g class="text">
                <path
                    d="M529.012 200.394C516.649 200.394 504.659 198.772 493.041 195.526C481.57 192.133 472.336 187.781 465.334 182.471L477.623 155.473C484.326 160.342 492.295 164.251 501.531 167.202C510.766 170.152 520.001 171.628 529.236 171.628C539.515 171.628 547.111 170.152 552.026 167.202C556.942 164.103 559.4 160.046 559.4 155.031C559.4 151.343 557.91 148.318 554.931 145.958C552.101 143.45 548.377 141.459 543.759 139.983C539.291 138.508 533.184 136.886 525.438 135.115C513.522 132.312 503.765 129.509 496.168 126.707C488.572 123.903 482.017 119.404 476.506 113.208C471.144 107.012 468.463 98.7505 468.463 88.4239C468.463 79.4249 470.921 71.3111 475.836 64.0824C480.752 56.7062 488.125 50.879 497.956 46.6009C507.936 42.3227 520.075 40.1836 534.375 40.1836C544.356 40.1836 554.112 41.3638 563.645 43.7241C573.178 46.0846 581.52 49.4776 588.669 53.9033L577.498 81.1214C563.05 73.0077 548.6 68.9507 534.152 68.9507C524.023 68.9507 516.501 70.5735 511.585 73.8191C506.819 77.0645 504.436 81.3427 504.436 86.6535C504.436 91.9644 507.191 95.9476 512.702 98.603C518.363 101.111 526.927 103.619 538.398 106.127C550.314 108.93 560.07 111.733 567.667 114.536C575.263 117.338 581.743 121.765 587.105 127.812C592.617 133.861 595.373 142.049 595.373 152.375C595.373 161.227 592.841 169.34 587.776 176.717C582.861 183.945 575.413 189.699 565.432 193.977C555.452 198.256 543.313 200.394 529.012 200.394ZM677.081 136.886L656.079 158.572V197.739H620.106V42.839H656.079V115.2L725.343 42.839H765.56L700.765 111.88L769.359 197.739H727.131L677.081 136.886ZM849.226 142.86V197.739H813.029V142.417L752.48 42.839H790.91L832.692 111.659L874.474 42.839H910L849.226 142.86Z"
                    fill="#F5F5F5"></path>
                <path
                    d="M394.938 291.478L385.301 278.056C384.216 278.175 383.092 278.236 381.928 278.236H370.605V291.478H366.147V249.721H381.928C387.308 249.721 391.525 250.994 394.577 253.539C397.628 256.085 399.154 259.584 399.154 264.038C399.154 267.299 398.311 270.063 396.624 272.329C394.977 274.556 392.609 276.167 389.517 277.161L399.816 291.478H394.938ZM381.808 274.477C385.983 274.477 389.175 273.563 391.384 271.733C393.593 269.904 394.697 267.338 394.697 264.038C394.697 260.658 393.593 258.072 391.384 256.283C389.175 254.454 385.983 253.539 381.808 253.539H370.605V274.477H381.808ZM454.546 287.66V291.478H424.731V249.721H453.643V253.539H429.188V268.393H450.992V272.151H429.188V287.66H454.546ZM515.316 249.721V291.478H511.642L484.537 257.596V291.478H480.08V249.721H483.754L510.919 283.603V249.721H515.316ZM562.566 291.835C558.389 291.835 554.595 290.921 551.182 289.091C547.809 287.223 545.159 284.678 543.232 281.456C541.344 278.236 540.4 274.616 540.4 270.599C540.4 266.583 541.344 262.964 543.232 259.743C545.159 256.522 547.809 253.996 551.182 252.167C554.595 250.298 558.389 249.364 562.566 249.364C566.742 249.364 570.495 250.279 573.829 252.108C577.201 253.937 579.851 256.482 581.779 259.743C583.706 262.964 584.671 266.583 584.671 270.599C584.671 274.616 583.706 278.255 581.779 281.516C579.851 284.738 577.201 287.262 573.829 289.091C570.495 290.921 566.742 291.835 562.566 291.835ZM562.566 287.899C565.898 287.899 568.91 287.163 571.6 285.692C574.291 284.18 576.399 282.113 577.924 279.488C579.451 276.824 580.214 273.861 580.214 270.599C580.214 267.338 579.451 264.395 577.924 261.772C576.399 259.106 574.291 257.039 571.6 255.568C568.91 254.056 565.898 253.3 562.566 253.3C559.232 253.3 556.201 254.056 553.471 255.568C550.78 257.039 548.652 259.106 547.086 261.772C545.56 264.395 544.797 267.338 544.797 270.599C544.797 273.861 545.56 276.824 547.086 279.488C548.652 282.113 550.78 284.18 553.471 285.692C556.201 287.163 559.232 287.899 562.566 287.899ZM643.479 249.721L624.808 291.478H620.411L601.739 249.721H606.558L622.699 285.99L638.962 249.721H643.479ZM689.803 280.323H666.313L661.253 291.478H656.616L675.89 249.721H680.287L699.561 291.478H694.863L689.803 280.323ZM688.177 276.744L678.059 254.314L667.94 276.744H688.177ZM727.667 253.539H712.85V249.721H746.941V253.539H732.124V291.478H727.667V253.539ZM769.119 249.721H773.576V291.478H769.119V249.721ZM820.783 291.835C816.607 291.835 812.812 290.921 809.399 289.091C806.026 287.223 803.376 284.678 801.448 281.456C799.561 278.236 798.618 274.616 798.618 270.599C798.618 266.583 799.561 262.964 801.448 259.743C803.376 256.522 806.026 253.996 809.399 252.167C812.812 250.298 816.607 249.364 820.783 249.364C824.958 249.364 828.713 250.279 832.046 252.108C835.419 253.937 838.069 256.482 839.996 259.743C841.924 262.964 842.887 266.583 842.887 270.599C842.887 274.616 841.924 278.255 839.996 281.516C838.069 284.738 835.419 287.262 832.046 289.091C828.713 290.921 824.958 291.835 820.783 291.835ZM820.783 287.899C824.115 287.899 827.127 287.163 829.817 285.692C832.507 284.18 834.615 282.113 836.142 279.488C837.667 276.824 838.43 273.861 838.43 270.599C838.43 267.338 837.667 264.395 836.142 261.772C834.615 259.106 832.507 257.039 829.817 255.568C827.127 254.056 824.115 253.3 820.783 253.3C817.45 253.3 814.418 254.056 811.688 255.568C808.997 257.039 806.869 259.106 805.303 261.772C803.777 264.395 803.015 267.338 803.015 270.599C803.015 273.861 803.777 276.824 805.303 279.488C806.869 282.113 808.997 284.18 811.688 285.692C814.418 287.163 817.45 287.899 820.783 287.899ZM903.171 249.721V291.478H899.497L872.393 257.596V291.478H867.936V249.721H871.61L898.773 283.603V249.721H903.171Z"
                    fill="#F5F5F5"></path>
            </g>
        </g>
        <defs>
            <filter
                id="filter0_d_65_216"
                x="-2.46631"
                y="16.6639"
                width="463.987"
                height="309.059"
                filterUnits="userSpaceOnUse"
                color-interpolation-filters="sRGB"
            >
                <feFlood flood-opacity="0" result="BackgroundImageFix"
                ></feFlood>
                <feColorMatrix
                    in="SourceAlpha"
                    type="matrix"
                    values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                    result="hardAlpha"></feColorMatrix>
                <feOffset dy="4"></feOffset>
                <feGaussianBlur stdDeviation="2"></feGaussianBlur>
                <feComposite in2="hardAlpha" operator="out"></feComposite>
                <feColorMatrix
                    type="matrix"
                    values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"
                ></feColorMatrix>
                <feBlend
                    mode="normal"
                    in2="BackgroundImageFix"
                    result="effect1_dropShadow_65_216"></feBlend>
                <feBlend
                    mode="normal"
                    in="SourceGraphic"
                    in2="effect1_dropShadow_65_216"
                    result="shape"></feBlend>
            </filter>
            <clipPath id="clip0_65_216">
                <rect
                    width="909.388"
                    height="333.684"
                    fill="white"
                    transform="translate(0.612305)"></rect>
            </clipPath>
        </defs>
    </svg>
</div>

<style>
    @keyframes leftt {
        0% {
            transform: rotate(0deg);
        }
        50% {
            transform: rotate(-2deg);
        }
        100% {
            transform: rotate(0deg);
        }
    }
    @keyframes rightt {
        0% {
            transform: rotate(0deg);
        }
        50% {
            transform: rotate(2deg);
        }
        100% {
            transform: rotate(0deg);
        }
    }
    .l-wing {
        transform-origin: bottom;
        animation: leftt 5s infinite ease-in-out;
    }
    .r-wing {
        transform-origin: bottom left;
        animation: rightt 5s infinite ease-in-out;
    }

    @keyframes topbottom {
        0% {
            transform: translateY(-500%);
            display: none;
        }
        100% {
            transform: translateY(0%);
            display: flex;
        }
    }
    .fromtop {
        animation: topbottom 5s ease-out ;
    }
</style>
